ul {
  float: right;
  list-style: none;
  li {
    float: right;
    a {
      text-decoration: none;
      color: #e58415;
    }
  }
}

.gray_block {
  background-color: #958671;

  height: 225px;
 
  ul {
    border-right: solid 1px white;
    li {
      padding: 0;
      float: none;
      display: block;

      a {
        color: white;
      }
    }
  }
}

header {
  .site_menu {
    .container {
      max-width: 440px;
      float: right;

      ul {
        font-size: 11px;

        li {
          margin-right: 25px;
          line-height: 25px;

          &:nth-child(3):after {
            margin-left: 3px;
            content: "&or";
          }

          a {
          }
        }

      }
      .social_icons {
        float: right;
        text-align: center;
        a {
          display: inline-block;
          background-color: #e58415;
          width: 25px;
          text-align: center;
          border-radius: 20px;

          i {
            font-size: 15px;
            color: white;
            line-height: 25px;

          }
        }
      }
    }

  }
  .logo {
    a {
      margin-top: 45px;
      float: left;
      img {

      }
    }
  }
  .page_menu {
    float: right;
    margin-top: 50px;
    ul {
      li {
        margin-right: 20px;
        &:nth-child(1) {
          margin-right: 0;
        }
        a {

        }
      }
    }

    }
  }

